{% extends "base.html" %}
{% from "_error_messages.html" import field_error_messages, error_messages %}

{% block title %}
    Add item
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-7 offset-lg-2 my-5">
        <h1>Add new item</h1>
        <hr>
        <form action="{{ url_for('items.add_item') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ error_messages(form.errors) }}
                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class="form-control") }}
                    {{ field_error_messages(form.title) }}
                </div>
                <div class="form-group">
                    {{ form.price.label }}
                    {{ form.price(class="form-control") }}
                    {{ field_error_messages(form.price) }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}
                    {{ form.description(class="form-control") }}
                    {{ field_error_messages(form.description) }}
                </div>
                <div class="form-group">
                    {{ form.image.label }}
                    {{ form.image }}
                    {{ field_error_messages(form.image) }}
                </div>
                <div class="form-group">
                    {{ form.category.label }}
                    {{ form.category(class="form-control") }}
                    {{ field_error_messages(form.category) }}
                </div>
                <div class="form-group">
                    {{ form.subcategory.label }}
                    {{ form.subcategory(class="form-control") }}
                    {{ field_error_messages(form.subcategory) }}
            </div>
            <hr>
            {{ form.submit(class="btn btn-primary form-control") }}
            {{ field_error_messages(form.submit) }}

        </form>
    </div>
</div>
{% endblock %}