{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
    Add item
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-7 offset-lg-2 my-5">
        <h1>Add new item</h1>
        <hr>
        <form action="{{ url_for('items.add_item') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ render_field(form.title) }}
            </div>
            <div class="form-group">
                 {{ render_field(form.price) }}
            </div>
            <div class="form-group">
                 {{ render_field(form.description) }}
            </div>
            <hr>
                {{ render_field(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}