{% extends "base.html" %}

{% from "form_macros.html" import render_field %}

{% block title %}
    {{ item.title }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-4 my-4">
    <a href="{{ url_for('items.edit_item', item_id=item.id) }}" class="btn btn-primary">Edit item</a>
    <form action="{{ url_for('items.get_item', item_id=item.id) }}" class="delete-form" method="POST"></form><br><br>
    <form class="delete-form" method="POST" action="">
      {{ removeItemForm.hidden_tag() }}
      {{ removeItemForm.submit(class="btn btn-danger", onclick='return confirm("Are you sure you want to delete this item?");') }}
    </form>
  </div>
  <div class="col-lg-8">
    <div class="card mt-4">
      <div class="embed-responsive embed-responsive-16by9">
        <img class="card-img-top embed-responsive-item"
             src="
             {% if item.image%}
                {{ url_for('main.uploads', filename=item.image) }}
             {% else %}
                {{ url_for('static', filename='images/placeholder.png') }}
             {% endif %}">
      </div>
      <div class="card-body">
        <h3 class="card-title">
            {{ item.title }}
        </h3>
        <h4>
            {{ "%.2f PLN"|format(item.price) }}
        </h4>
        <p class="card-text">
            {{ item.description }}
        </p>
        <h4>
          <div class="badge badge-secondary"></div> <br>
          <div class="badge badge-secondary"></div>
        </h4>
      </div>
    </div>
    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        Product Reviews
      </div>
      <div class="card-body">
        <form action="{{ url_for('comment.add_comment') }}" method="post" class="comment-form">
          {{ commentForm.hidden_tag() }}
          <div class="form-group">
            {{ commentForm.content.label }}
            {{ commentForm.content(class="form-control", rows="3") }}
          </div>
          <div class="form-group">
            {{ commentForm.submit(class="btn btn-primary") }}
            <span class="comment-error"></span>
          </div>
        </form>
        <hr class=form-boarder">
        {% if comments %}
          {% for comment in comments %}
            {% with content = comment.content %}
              {% include "_comment.html" %}
            {% endwith %}
          {% endfor %}

        {% else %}
          <p class="placeholder-comment">Be the first comment item</p>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}